# Dependencies
node_modules/
functions/node_modules/

# Build output
dist/
dist-ssr/

# Environment variables — JANGAN PERNAH commit file ini
.env
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*.local

# Service worker hasil generate Vite PWA
dev-dist/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.log
